/* index elements */

.img-fluid {
    max-width: 25%;
    max-height: 25%;
    padding: 20px 2px 20px 20px;
}
/* portfolio elements */
#game-thumbnail {
    
}

/* contact elements */
#contact-info {
    padding: 20px 10px 10px 20px;
}

/* media queries */
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    nav {
        object-fit: cover;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

