/* index elements */
.img-fluid {
    max-width: 25%;
    max-height: 25%;
    padding: 20px 2px 20px 20px;
}
/* portfolio elements */
.card {
    float: left;
    background: lightseagreen;
    text-align: center;
}

/* contact elements */
#contact-info {
    padding: 20px 10px 10px 20px;
}

#game-thumbnail {
    float: left;
}
/* media queries */

@media only screen and (max-width: 640px) {
    header {
      position: static;
    }
    nav {
        object-fit: cover;
    }
}
   /* for tablets */
   @media only screen and (max-width: 768px) {
    nav {
        object-fit: cover;
    }
    [class*="col-"] {
    width: 100%;
   }
}
   
   /*for computers */
   @media only screen and (max-width: 980px) {
     [class*="col-"] {
       width: 100%;
     }
   }