

body {
  background: maroon;
}

/* nav bar */
nav:hover {
  color: maroon;
}

.nav-item:hover {
  color: maroon;
}

.nav-item {
  color: maroon;
}


.card {
  background: moccasin;
  text-align: center;
  color: black;
  text-shadow: white 1px 1px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  float: inline-end;
}

.container-fluid {
  width: 95%;
  margin-left: 2.5%;
  margin-right:2.5%;
  margin-top: 2%;
  float: left;
}

h5 {
  margin-top: 10px;;
}


/* contact form */
#contactForm {
  color: whitesmoke;
  text-shadow: black 2px 2px;
}

/* media queries */
/* mobile */
@media only screen and (max-width: 640px) {
    header {
      position: static;
    }
    nav {
        object-fit: cover;
    }
}

   /* for tablets */
   @media only screen and (max-width: 768px) {
    nav {
        object-fit: cover;
    }
    [class*="col-"] {
    width: 100%;
   }
}
   
   /*for computers */
   @media only screen and (max-width: 980px) {
     [class*=".container-fluid"] {
       width: 100%;
     }
   }